language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - hhvm-nightly

matrix:
  allow_failures:
    - php: hhvm-nightly

install:
  - composer install

before_script:
  - mkdir -p build/logs
  - cd tests

script:
  - phpunit --colors --coverage-clover /home/travis/build/joshtronic/php-googleplaces/build/logs/clover.xml .

after_success:
  - php ../vendor/bin/coveralls --config ../.coveralls.yml -v
